  <a href="/posts/{{id}}">
 <div class="card p-2 m-2 bg-secondary d-flex">
        <div class="card-header bg-secondary float-left">
         <h5 class="card-title">{{title}}</h5>  
            <div class = "d-flex justify-content-between">
                <h6 class="card-subtitle mb-2 text-light float-left d-inline-flex">{{name}}</h6>
                <h6 class="card-subtitle mb-2 text-dark float-right d-inline-flex">{{date_created}}</h6>
            </div>

        </div>
        
        <div class="card-body bg-light rounded">

          <p class="card-text">{{content}}</p>
        </div>
      </div>
      </a>